.lds-ring {
  display: inline-block;
  position: relative;
}

.lds-ring span {
  box-sizing: border-box;
  display: block;
  position: absolute;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: rgb(96 165 250) transparent transparent transparent;
}

.lds-ring span:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring span:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring span:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
